<section>
  <br>
  <div fxLayout="row">
    <button type="button" mat-button matTooltip="Volver a Edificios" matTooltipPosition="right" fxFlex="10%" routerLink="/edificios"><mat-icon>arrow_back</mat-icon></button>
    <div fxFlex="30%"></div>
    <h3 fxFlex="30%">Salas del Edificio {{this.idEdificio}}:</h3>
    </div>

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-header>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.nombre}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef mat-header>Descripción</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.descripcion }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="capacidad">
      <mat-header-cell fxLayoutAlign="center" *matHeaderCellDef mat-header>Capacidad</mat-header-cell>
      <mat-cell fxLayoutAlign="center" *matCellDef="let element">{{ element.capacidad }}</mat-cell>
    </ng-container>
     
    <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef mat-header>Tipo</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.tipoSala.tipo }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="localizacion">
      <mat-header-cell *matHeaderCellDef mat-header>Localización</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.localizacion }}</mat-cell>
    </ng-container>

    <!-- columna "Editar" -->
    <ng-container matColumnDef="editar">
      <mat-header-cell *matHeaderCellDef>Editar</mat-header-cell>
      <mat-cell *matCellDef="let element" >
          <button type="button" mat-button (click)="onEdit(element)"><mat-icon>edit</mat-icon></button>  
      </mat-cell>
    </ng-container> 
  
  <!-- columna "Borrar" -->
  <ng-container matColumnDef="borrar">
      <mat-header-cell *matHeaderCellDef>Borrar</mat-header-cell>
      <mat-cell *matCellDef="let element" >
        <button type="button" mat-button (click)="onDelete(element)"><mat-icon>delete</mat-icon></button> 
      </mat-cell>
  </ng-container> 
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
  
  <div fxLayoutAlign="center">
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
  </div>
  
  <div fxLayoutAlign="end">
    <button mat-fab color="primary" (click)="onAgregarSala()" matTooltip="Añadir Sala Nueva" matTooltipPosition="left"><mat-icon>add</mat-icon></button>
  </div>

</section>

