<!-- Ejemplo de Formulario Angular Reactivo (Reactive Form)-->
<section>
    <div fxLayout="row" fxLayoutAlign="center">
      <h3>Nueva Sala</h3>
    </div>
      <form  [formGroup]="salaForm" (ngSubmit)="onSubmit(f)">
      <div fxLayout="row" fxLayoutAlign="space-evenly">
        <mat-form-field fxFlex="25%">
          <!-- Práctica 4: Formulario Reactive:
            Alguien debería declarar los campos del formulario en los <inputs>: -->
          <input matInput formControlName="nombre" placeholder="Nombre"   required>
          <mat-error *ngIf="formErrors.nombre">
            {{ formErrors.nombre }}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="40%">
          <input matInput formControlName="descripcion" placeholder="Descripción" >
          <mat-error *ngIf="formErrors.descripcion">
            {{ formErrors.descripcion }}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-evenly">        
        <mat-form-field fxFlex="10%">
          <input matInput formControlName="capacidad" placeholder="Capacidad" >
          <mat-error *ngIf="formErrors.capacidad">
            {{ formErrors.capacidad }}
          </mat-error>
        </mat-form-field>
        <div formGroupName="tipoSala" fxFlex="15%">
          <mat-form-field >
            <input matInput formControlName="tipo" placeholder="Tipo de Sala" required>
          </mat-form-field>
        </div>
        <mat-form-field fxFlex="35%">
          <input matInput formControlName="localizacion" placeholder="Localización" >
          <mat-error *ngIf="formErrors.localizacion">
            {{ formErrors.localizacion }}
          </mat-error>
        </mat-form-field>
      </div>
      <br>
      <div fxLayoutAlign="center" fxLayoutGap="20px">
        <button type="submit" [disabled]="!salaForm.valid" mat-raised-button color="primary">Aceptar</button>
        <button type="button"  (click)="onCancel()" mat-raised-button color="warn">Cancelar</button>
      </div>
    </form>
  </section>