<section>
  <br>    
  <mat-form-field fxLayoutAlign="center">
    <input matInput type="text" (keyup)="filtrar($event.target.value)" placeholder="Filtro">
  </mat-form-field>    

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.nombre}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="codPostal">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Código Postal</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.codPostal }}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="titularidad">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Titularidad</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.titularidad }}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="poblacion">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Población</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.poblacion.poblacion }}</mat-cell>
    </ng-container>

    <!-- columna "Ver Salas" -->
    <ng-container matColumnDef="verSalas">
      <mat-header-cell *matHeaderCellDef>Ver Salas</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button type="button" mat-button routerLink="/salas" (click)="onVerSalas(element)"><mat-icon>airline_seat_recline_normal</mat-icon></button>  
      </mat-cell>
    </ng-container> 

    <!-- columna "Editar" -->
    <ng-container matColumnDef="editar">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" >
          <button type="button" mat-button (click)="onEdit(element)"><mat-icon>edit</mat-icon></button>  
      </mat-cell>
    </ng-container> 
  
  <!-- columna "Borrar" -->
  <ng-container matColumnDef="borrar">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" >
        <button type="button" mat-button (click)="onDelete(element)"><mat-icon>delete</mat-icon></button> 
      </mat-cell>
  </ng-container> 
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
  
  <div fxLayoutAlign="center">
    <mat-paginator [pageSize]="3" [pageSizeOptions]="[1, 5, 10, 20]"></mat-paginator>
  </div>
  
  <div fxLayoutAlign="end">
    <button mat-fab color="primary" routerLink="/nuevoEdificio" matTooltip="Añadir Edificio Nuevo" matTooltipPosition="left"><mat-icon>add</mat-icon></button>
  </div>

</section>
