<section>
  <h3 fxLayoutAlign="center center">
    Listado de EDIFICIOS
  </h3>  
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <mat-form-field>
      <!--  Práctica 4.5: Usar API Swagger: Read
            Alguien debería añadir un desplegable <mat-select> que muestre todas las provincias 
            y que vincule el valor seleccionado a provinciaSeleccionada -->
      




    </mat-form-field>
    <!--  Práctica 4.5: Usar API Swagger: Read
          Alguien debería añadir un botón Filtrar vinculado al método onFiltrar() -->
    
  </div>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-header>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.nombre}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="codPostal">
        <mat-header-cell *matHeaderCellDef mat-header>Código Postal</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.direccion.codigoPostal }}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="titularidad">
      <mat-header-cell *matHeaderCellDef mat-header>Titularidad</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.titularidad }}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="poblacion">
      <mat-header-cell *matHeaderCellDef mat-header>Población</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.direccion.poblacion.poblacion }}</mat-cell>
    </ng-container>

    <!-- columna "Ver Salas" -->
    <ng-container matColumnDef="verSalas">
      <mat-header-cell *matHeaderCellDef>Ver Salas</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button type="button" mat-button (click)="onVerSalas(element)"><mat-icon>airline_seat_recline_normal</mat-icon></button>  
      </mat-cell>
    </ng-container> 

    <!-- columna "Editar" -->
    <ng-container matColumnDef="editar">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" >
          <button type="button" mat-button (click)="onEdit(element)"><mat-icon>edit</mat-icon></button>  
      </mat-cell>
    </ng-container> 
  
  <!-- columna "Borrar" -->
  <ng-container matColumnDef="borrar">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" >
        <button type="button" mat-button (click)="onDelete(element)"><mat-icon>delete</mat-icon></button> 
      </mat-cell>
  </ng-container> 
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
  
  <div fxLayoutAlign="center">
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
  </div>
  
  <div fxLayoutAlign="end">
    <button mat-fab color="primary" routerLink="/nuevoEdificio" matTooltip="Añadir Edificio Nuevo" matTooltipPosition="left"><mat-icon>add</mat-icon></button>
  </div>

</section>
