<!-- Ejemplo de Formulario Angular basado en Plantilla (Template Driven Form)-->
<section fxLayoutAlign="center">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-card   fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title>Inicio de sesión</mat-card-title>
      <mat-card-content>
        <mat-form-field fxLayoutAlign="center">
           <!-- Practica form: -->
           <!-- Alguien debería rellenar el input con algo de ng-form aquí -->
          <input type="text"                         >
        </mat-form-field>
        <mat-form-field hintLabel="Mínimo 6 caracteres">
          <!-- Practica form: -->
          <!-- Alguien debería rellenar el password con algo de ng-form aquí -->
          <input type="password"                     >
        </mat-form-field>
        <br>
      </mat-card-content>
      <mat-card-actions>
        <!-- Practica form: -->
        <!-- Alguien debería convertir este botón en un botón de Material Design y deshabilitarlo cuando el formulario es inválido -->
        <button type="submit"                              >Aceptar</button>
      </mat-card-actions>
  </mat-card>
  </form>
</section>

