<section>  
  <div fxLayout="row" fxLayoutAlign="center">
    <h3>Nuevo Edificio {{ provincia?.id }}</h3>
  </div>
    <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div fxLayout="row" fxLayoutAlign="space-evenly">
      <mat-form-field fxFlex="40%">
        <input matInput ngModel name="nombre" placeholder="Nombre" required>
      </mat-form-field>      
      <mat-form-field fxFlex="20%">
        <input type="text" ngModel name="provincia" placeholder="Provincia" aria-label="Number" matInput [formControl]="searchTermProvincia" [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let prov of searchResultProvincia" [value]="prov.provincia">
            {{ prov.provincia }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly">
      <mat-form-field fxFlex="10%">
        <input matInput ngModel name="tipoVia" placeholder="Tipo Vía">
      </mat-form-field>
      <mat-form-field fxFlex="50%">
        <input matInput ngModel name="nombreVia" required placeholder="Nombre de Vía">
      </mat-form-field>
      <mat-form-field fxFlex="10%">
        <input matInput ngModel name="numeroVia" required placeholder="Nº Vía">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-evenly">
      <mat-form-field fxFlex="40%">
        <input type="text" ngModel name="poblacion" placeholder="Población" aria-label="Number" matInput [formControl]="searchTermPoblacion" [matAutocomplete]="auto2" required>
        <mat-autocomplete #auto2="matAutocomplete">
          <mat-option *ngFor="let poblacion of searchResultPoblacion" [value]="poblacion.poblacion">
            {{ poblacion.poblacion }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field fxFlex="15%">
          <input matInput ngModel name="codigoPostal" required placeholder="Código Postal">
      </mat-form-field>
      <mat-form-field fxFlex="15%">
          <input matInput ngModel name="titularidad" placeholder="Titularidad">
      </mat-form-field>
    </div>
    <br>
    <div fxLayoutAlign="center">
      <button type="submit" [disabled]="f.invalid" mat-raised-button color="accent">Aceptar</button>
    </div>
  </form>
</section>

