<div fxLayoutAlign="center center">
  Listado de reservas
</div>
<section>
  <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input
        matInput
        placeholder="Fecha de la Reserva"
        [matDatepicker]="picker"
        [min]="minDate">
      <mat-datepicker-toggle
        matSuffix
        [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button type="submit" mat-raised-button color="accent"><mat-icon>done</mat-icon>Aceptar</button>
  </form>
</section>
