<section>
  <h3 fxLayoutAlign="center center">
    Listado de reservas
  </h3>
  <br>

  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="provincia">
      <mat-header-cell *matHeaderCellDef mat-header>Provincia</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.sala.edificio.direccion.poblacion.provincia.provincia }}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="edificio">
      <mat-header-cell *matHeaderCellDef mat-header>Edificio</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.sala.edificio.nombre }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="sala">
        <mat-header-cell *matHeaderCellDef mat-header>Sala</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.sala.nombre }}</mat-cell>
    </ng-container>
      
    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef mat-header>Fecha</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.fechaReserva | date: "yyyy-MM-dd" }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="usuario">
      <mat-header-cell *matHeaderCellDef mat-header>Usuario</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.usuario }}</mat-cell>
    </ng-container>

    <!-- columna "Editar" -->
    <ng-container matColumnDef="editar">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" >
          <button type="button" mat-button (click)="onEdit(element)"><mat-icon>edit</mat-icon></button>  
      </mat-cell>
    </ng-container> 
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
  
  <div fxLayoutAlign="center">
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
  </div>

  <div fxLayoutAlign="end">
    <button mat-fab color="primary" routerLink="/nuevaReserva" matTooltip="Añadir Reserva Nueva" matTooltipPosition="left"><mat-icon>add</mat-icon></button>
  </div>
</section>
