<section>
  <div fxFlex="90%" fxLayoutAlign="center" mat-dialog-title>Nueva Reserva</div>
  <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
    
    <mat-form-field fxFlex="25%">
      <mat-select placeholder="Provincia">
        <mat-option *ngFor="let provincia of provincias" [value]="provincia.id">
          {{ provincia.provincia }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field fxFlex="35%">
        <input matInput  placeholder="Edificio">
    </mat-form-field>

    <mat-form-field fxFlex="35%">
        <input matInput  placeholder="Sala">
      </mat-form-field>

    <mat-form-field fxFlex="35%">
      <input
        matInput        
        placeholder="Fecha de la Reserva"
        [matDatepicker]="picker"
        [min]="minDate">
      <mat-datepicker-toggle
        matSuffix
        [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button type="submit" mat-raised-button color="accent">Aceptar</button>
  </form>
</section>
