<section fxLayout="column" fxLayoutAlign="center center">  
  <h3>Nueva Reserva</h3>
    <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div fxLayout="column">
      <mat-form-field fxFlex="25%">
        <input type="text" ngModel name="provincia" placeholder="Provincia" aria-label="Number" matInput [formControl]="searchTermProvincia" [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let prov of searchResultProvincia" [value]="prov.provincia">
            {{ prov.provincia }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field fxFlex="35%">
        <mat-select [formControl]="cambioEdificio" name="edificio" placeholder="Edificio">
          <mat-option *ngFor="let edificio of edificios" [value]="edificio.id">
            {{ edificio.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="35%">
        <mat-select placeholder="Sala" ngModel name="sala" required>
          <mat-option *ngFor="let sala of salas" [value]="sala.id">
            {{ sala.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="25%" required>
        <input
          matInput        
          placeholder="Fecha de la Reserva"
          ngModel name="fechaReserva"
          [matDatepicker]="picker"
          [min]="minDate">
        <mat-datepicker-toggle
          matSuffix
          [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="20%">
        <input matInput ngModel name="usuario" placeholder="Usuario" required>
      </mat-form-field>

    </div>
    <div fxLayoutAlign="center">
      <button type="submit" [disabled]="f.invalid" mat-raised-button color="accent">Aceptar</button>
    </div>
  </form>
</section>
